body {
	background-color: #272822;
	color: #F8F8F2;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 8px;
	margin: 0;
	text-indent: 10px;
}

footer {
	text-align: center;
}

a, a:visited {
	color: #E6DB74;
}

code {
	display: block;
	font-family: courier;
	border-left: 4px solid #181915;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

fieldset {
	border: 1px solid;
	padding-bottom: 0;
	padding-top: 0;
}

fieldset+fieldset { /*fieldset en dessous d'un autre fieldset*/
	margin-top: 8px;
}

h3 {
	text-decoration: underline;
	margin-left: 2em;
}

/* 
On cherche à feinter le système pour ne pas avoir des écarts démesurés
entre le bord du cadre et le texte, en haut et en bas dans les fieldsets.

A voir s'il ne vaut mieux mettre une classe fin et une classe début, mais 
en attendant, ça fait le taf.
*/

fieldset p { /*p dans un fieldset*/
	margin: 0;
}

fieldset p ~ p { /*p suivant p dans un fieldset*/
	margin-top: 1em; /*valeur par défaut*/
}

.thm {
	border-color: #F92672;
}

.def {
	border-color: #A6E22E;
}

.it {
	font-style: italic;
}

@media screen {
	body {
		margin-left: auto;
		margin-right: auto;
		width: 700px;
	}
}